
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* EFECTO DE ESPERA AL INICIAR LA PAGINA____________ */
#loadPage {
    height: 100vh;
    width: 100%;
    background: #333;
    z-index: 1000;
    color: #a62;
    position: fixed;
}
/* CENTRADO DE TEXTO EN EFECTO */
#loadPage h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/* EFECTO CIRCULAR QUE SIMULA LA ESPERA _____________ */
.pre-load {
    border: 6px solid #ccc;
    border-top-color: #a62;
    border-top-style: groove;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: absolute;
    left: 46%;
    top: 60%;

    -webkit-animation: girar 1.5s linear infinite;
    -o-animation:  girar 1.5s linear infinite;
    animation:  girar 1.5s linear infinite;
}

@keyframes girar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* ESTILO DEL MAPA_____ */
#map {  
    height: 25vh;
    position: absolute;
    top: 39%;
    width: 90%;
    margin-left: 5%;

}


.section-style {
    background: #333;
    color: #a62;
    height: 100vh;

}

.style-text { 
    text-align: center;
    font-size: 2.5em;
}

.styleTag {
    width: 81%;
    height: 33px;
    border-radius: 3px;
    position: absolute;
    top: 67%;
    left: 5%;
}
